<div class="list-group">
  <thead>
    <a href="#" class="list-group-item list-group-item-action">RENKLER</a>
  </thead>
  <br />
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-light"
    >BEYAZ</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-info"
    >MAVİ</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-dark"
    >SİYAH</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-danger"
    >KIRMIZI</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-secondary"
    >METALİK</a
  >
  <a
    href="#"
    class="list-group-item list-group-item-action list-group-item-warning"
    >GRİ</a
  >
</div>
