<ul class="list-group">
 

  <div>
    <div class="mb-3">
      <label for="colorFilterText" class="form-label">Renk Seçenekleri</label>
      <input
        type="text"
        [(ngModel)]="colorFilterText"
        class="form-control"
        id="carName"
        placeholder="Arama metninizi giriniz"
      />
    </div>
    <div *ngIf="colorFilterText" class="alert alert-success">
      <strong>{{ colorFilterText }}</strong> aradınız.
    </div>
  </div>
  <li
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{color.colorId}}"
    *ngFor="let color of colors | colorFilter: colorFilterText"
    [class]="getCurrentColorClass(color)"
  >
    {{ color.colorName }}
  </li>
</ul>
