<form>
  <div class="mb-3">
    <span class="d-block p-2 bg-info text-white">Marka Seçenekleri</span>
    <select
      (change)="getCurrentBrandClass(currentBrand)"
      [(ngModel)]="currentBrand"
      name="brand"
      class="form-select form-select-sm"
      aria-label="Markalar"
    >
      <option [ngValue]="getAllBrandClass" [selected]="getAllBrandClass()">
        Tüm Markalar
      </option>
      <option
        [value]="brand"
        *ngFor="let brand of brands | brandFilter: brandFilterText"
      >
        {{ brand.brandName }}
      </option>
    </select>
  </div>
</form>
