<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button *ngFor="let carImage of carImages;let i=index" type="button" data-bs-target="#carouselExampleIndicators" 
      attr.data-bs-slide-to="{{i}}" class="getButtonClass(carImage)" aria-current="true" aria-label="Slide 1"></button>
      </div>
    <div class="carousel-inner">
      <div *ngFor="let carImage of carImages" class="getCurrentCarImageClass(carImage)">
        <img [src]="imageBasePath+carImage.imagePath" class="d-block w-100" alt="carImage">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <table *ngIf="dataLoaded != false" class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Marka</th>
        <th>Model</th>
        <th>Yıl</th>
        <th>Günlük Fiyat</th>
      </tr>
    </thead>

    <tr *ngFor="let car of cars ">
      <td>{{ car.carId }}</td>
      <td>{{ car.carName }}</td>
      <td>{{ car.description }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice | currency:"₺"}}</td>
    </tr>
  </table> -->

  <div id="carouselExampleControls" 
  
   class="carousel slide border border-dark" data-bs-ride="carousel">
    <div class="carousel-inner">
       
      <div class="carousel-item " *ngFor="let image of carImages;  index as i; first as firstImage " [ngClass]="{ active: firstImage }" >
        <img src="{{imageBasePath}}{{image.imagePath}}" class="d-block w-100" alt="image.imagePath">
         
   </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
   
  </div>
  <div class="table-responsive-md">
    <table *ngIf="dataLoaded==true" class="table table-striped table-hover table-bordered">
      <thead>
          <tr>
              <th>Brand</th>
              <th>Color</th>
              <th>Model Year</th>
              <th>Daily Price</th>
              <th>Description</th>
    
          </tr>
      </thead>
      <tbody>
          <tr *ngIf="carDetails">
              <td>{{carDetails.brandName}}</td>
              <td>{{carDetails.colorName}}</td>
              <td>{{carDetails.modelYear}}</td>
              <td>{{carDetails.dailyPrice |currency:"₺"}}</td>
              <td>{{carDetails.description}}</td>
              
                <!-- <td><button routerLink="/rental/{{car.carId}}" type="button" class="btn btn-success">Rent</button></td>
         -->
          </tr>
      </tbody>
    </table>
  </div>

    <br>
<hr>